<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Data</title>
    <link rel="stylesheet" href="../css/DataCheaker.css">
  </head>
  <body>
    <div class="MainContainer">
      <h1>Login Data</h1>
      <table border="1px">
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody id="tableBody">
          
        </tbody>
      </table>
    </div>
  </body>
  <script src="../js/LoginData.js"></script>
</html>