<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp Data</title>
    <link rel="stylesheet" href="../css/DataCheaker.css">
  </head>
  <body>
    <div class="MainContainer">
      <h1>SignUp Data</h1>
      <table>
        <tbody id="tableBody">
          <tr>
            <th>ID</th>
            <th>FullName</th>
            <th>Email</th>
            <th>Number</th>
            <th>password</th>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  <script src="../js/SignUpData.js"></script>
</html>