<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/Data.css">
  </head>
  <body>
    <div id="container" class="container">
    <table>
      <tr>
        <th>ID</th>
        <th>FullName</th>
        <th>Email</th>
        <th>Password</th>
        <th>Times</th>
      </tr>
    </table>
    </div>
  </body>
  <script type="module" src="../JS/Data_FIle.js"></script>
</html>