<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/Data.css" />
  </head>
  <body>
    <div id="container" class="container">
      <a href="Data"><button>Click here See Data In Json Format</button></a>
      <table>
        <tr>
          <th>ID</th>
          <th>FullName</th>
          <th>Email</th>
          <th>Password</th>
          <th>Times</th>
        </tr>
      </table>
    </div>
    <div class="button"></div>
  </body>
  <script type="module" src="../JS/Data_FIle.js"></script>
</html>
