@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {    
  font-family: "Rowdies", cursive;
  background-color:#7d145cb7 ;
}

.main-container {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.587);
  animation: blowing 1s ease-in-out;
}
@keyframes blowing {
  0% {
    opacity: 0;
    filter: blur(5px);
    margin-right: 100%;
  }
  100% {
    opacity: 1;
  }
}


form input {
  border: 1px solid rgba(255, 255, 255, 0.693);
}
form ::placeholder {
  text-align: center;
  color: white;
}
#submit {
  border: 1px solid rgba(255, 255, 255, 0.148);
  box-shadow: 2px 2px 5px black;
}

@media only screen and (max-width: 600px) {
  /* header */

  header {
    height: 70px;
  }
  header h1 {
    font-size: 20px;
  }
  header b {
    font-size: 40px;
    color: rgb(0, 0, 0);
  }
  header i {
    padding-left: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }

  /* main */

  .main-container {
    background-color: transparent;
    margin: 13% 0 10% 0;
    width: 100%;
    border: none;
    box-shadow: none;
  }

  #submit {
    width: 120px;
    height: 40px;
  }
 
  button img {
    height: 19px;
  }
  .google {
    font-size: 10px;
  }


form {
  height: 400px;
  width: 80%;
}
form input {
  height: 50px;
  width: 80%;
  margin: 10px 0 20px 0;
  background-color: transparent;
  color: white;
}
form ::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.575);
}
button {
  width: 150px;
}
}