<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Admin SignUp Page</title>
    <link rel="stylesheet" href="../css/Login.css">
</head>
<body>
    <div class="MainContainer">
    <h1>SignUp To your Super Admin Account</h1>
    <form action="" method="Post">
        <input type="text" name="FullName" id="FullNameSignUp" placeholder="FullName">
        <input type="email" name="Email" id="EmailSignUp" placeholder="Email">
        <input type="text" name="Number" id="NumberSignUp" placeholder="Number">
        <input type="password" name="Password" id="PasswordSignUp" placeholder="Password">
        <input type="submit" name="" id="">
    </form>
</div>
</body>
</html>