<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Submited Succesfull</title>
    <link rel="stylesheet" href="../css/SuccesFullSubmited.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="MainContainer">
      <h1>Form Submited Succesfull</h1>
      <i class="fa-solid fa-check fa-beat-fade"></i>
      <div class="buttonContainer">
        <button><a href="LoginSuperAdmin">Click Here To See Login Data</a></button>
        <button><a href="LoginSuperAdmin">Click Here To See SignUp Data</a></button>
        <button><a href="LoginSuperAdmin">Click Here To See Super Admin Data</a></button>
      </div>
    </div>
  </body>
</html>
